# This is a template designed to help you get started with .env files for this project
# Create a copy of this file and name it exactly `.env` and fill in the values for your needs
#
# WARN: Do not change this file, use it as a template only!

# Registered client id and client secret
client_id=
client_secret=

# OpenID Connect server Discovery endpoint
auth_server_discovery_endpoint=
auth_server_authorize_endpoint=
auth_server_token_endpoint=
auth_server_end_session_endpoint=

# Full URL to OAuth 2.0 Token Introspection endpoint of the authorization server
token_introspection_endpoint=